login: &login
  adapter: postgresql
  encoding: utf8
  host: localhost
  username: username
  password: password

development:
  <<: *login
  database: db_name_dev

test:
  <<: *login
  database: db_name_test

production:
  <<: *login
  database: db_name_prod